{% extends 'base.html' %}
{% block content %}

{# <div class="container"> #}
  <div class="row justify-content-center">
      <div class="input-group mb-3">
        <input type="text" class="form-control" id="searchInput" placeholder="Wyszukaj...">
        <div class="input-group-append">
          <button class="btn btn-primary" id="searchButton" type="button">Szukaj</button>
          <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#pending_failures">
          Oczekujące awarie
          </button>
            {%if current_user.rank >= 2 %}
              <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#reporting-failures">
                Dodaj zgłoszenie
              </button>
          {%endif%}
        </div>
      </div>
  </div>
{# </div> #}

{# <----- ____________________Modal____________________ #}
{% include 'pending-failurest-show.html' %} 


{# <----- ____________________Modal____________________ #}
{% include 'reporting-failures-show.html' %} 

<div class="row align-items-center">
<table class="table table-bordered table-auto">
  <thead class="text-light bg-dark">
     <tr class="text-center">
      <td>ID</td>
       <td>Linia</td>
       <td>Maszyna</td>
       <td>Odpowiedzialny</td>
       <td>Zgłoszenie</td>
       <td>Zgłaszający</td>
       <td>Czas Start</td>
       <td class="col-3 col-sm-1">Akcja</td>
     </tr>
   </thead>
   <tbody id="myTable">
    {% for row in rows %}
        <tr {{color_info[row['typ']]}}>
          <th scope="row">{{row['id']}}</th>
          <th scope="row">{{row['linia']}}</th>
          <td>{{row['maszyna']}}</td>
          <td>{{row['mechanik']}}</td>
          <td>{{row['zgloszenie']}}</td>
          <td>{{row['requestor']}}</td>
          <td>{{row['czas_start']}}</td>
          <td class="text-center">
              {% if row['czas_stop'] %}
              <a href="?id={{row['id']}}" type="submit" class="btn btn-primary">Edytuj</a>
              {% else %}
              <a href="?id={{row['id']}}" type="submit" class="btn btn-danger">Uzupełnij</a>
              {% endif%}
          </td>
          </tr>
      {% endfor %}

   </tbody>
 </table>
</div>

{# <----- ____________________pagination.html____________________ #}
{% include 'pagination.html' %} 

{% endblock %}

{% block js %}
		{# $(document).ready(function(){
			$("#searchButton").click(function(){
				var searchValue = $("#searchInput").val();
				window.location.href = "?search=" + searchValue;
			});
		}); #}
  $(document).ready(function(){
  $("#searchButton").click(function(){
    var searchValue = $("#searchInput").val();
    window.location.href = "?search=" + searchValue;
  });

  $("#searchInput").keypress(function(event){
    if (event.which == 13){ // Enter key code is 13
      var searchValue = $("#searchInput").val();
      window.location.href = "?search=" + searchValue;
    }
  });
});
{% endblock %}