{% extends 'base.html' %}
{% block content %}
<form method="post">
   <div class="row align-items-start was-validated">
      <div class="col-md-3">
         <label for="LineID" class="form-label">Linia</label>
         <select class="form-select" id="LineID" name="linia" onchange="wybierzLinie()" required>
            <option value="">Wybierz ...</option>
            {% for row in Productionline %}
            <option value="{{row['LineName']}}" data-user-id="{{row['LineID']}}">{{row['LineName']}}</option>
            {% endfor %}
         </select>
         <label for="MachineID" class="form-label">Maszyna</label>
         <select class="form-select" id="MachineID" name="maszyna" required>
            <option value="">Wybierz ...</option>
         </select>

      </div>
      <div class="col-auto">

         <label for="disabledTextInput" class="form-label">Typ zgłoszenia</label>
         <select class="form-select" name="typ" required>
            <option value="">Wybierz ...</option>
            <option value="1">Awaria</option>
            <option value="2">Usterka</option>
            <option value="3">Usprawnienie</option>
            <option value="4">BHP</option>
         </select>

         <label for="disabledTextInput" class="form-label">Rodzaj zgłoszeznia</label>
         <select class="form-select" name="rodzaj" required>
            <option value="">Wybierz ...</option>
            <option value="1">Mechaniczna</option>
            <option value="2">Elektryczna</option>
            <option value="3">IT</option>
         </select>
      </div>

      {# Lider może przypisać osobe odpowiedzialną do zgłoszenia. #}
      {%if current_user.rank >= 3 %}
      <div class="col-auto">
         <label for="disabledTextInput" class="form-label">Odpowiedzialny</label>
         <select class="form-select" name="responsible">
            <option value="">Nie przydzielaj zgłoszenia</option>
            {% for row in row_mechanic %}
            <option value="{{row[0]}}">{{row[0]}}</option>
            {% endfor %}
         </select>
      </div>
      {%endif%}

   </div>
   <div class="col-auto">
      <div class="mb-3 was-validated">
         <label class="form-label">Opis problemu</label>
         <textarea class="form-control" name="zgloszenie" id="zgloszenie" rows="3" maxlength="200" required></textarea>
         <div id="count_zgloszenie" class="form-text" align="right"></div>
      </div>
      {# <div class="mb-3">
         <label for="formFileMultiple" class="form-label">Zdjęcia z awarii</label>
         <input class="form-control" type="file" name="formFileMultiple" multiple>
      </div> # TODO Create code for uplaud file #}

   </div>
   </div>
   <div class="modal-footer">
      <button type="submit" class="btn btn-primary" name="action" value="reporting-failures">Zgłoś awarie</button>
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
   </div>
</form>

{% endblock %}

{% block js %}
var text_max4 = 200;
$('#count_zgloszenie').html('0 / ' + text_max4 );

$('#zgloszenie').keyup(function() {
var text_length = $('#zgloszenie').val().length;
var text_remaining = text_max4 - text_length;

$('#count_zgloszenie').html(text_length + ' / ' + text_max4);
});

{# Pola wyboru #}
function wybierzLinie() {

var line =
document.getElementById("LineID").options[document.getElementById("LineID").selectedIndex].getAttribute("data-user-id");
var machine = document.getElementById("MachineID");

// Wyczyść poprzednie opcje z drugiego pola wyboru
while (machine.options.length > 1) {
machine.remove(1);
}

// Słownik z opcjami wyboru w zależności od wybranego miasta
var opcjeMachine = {{machine|safe}}

// Dodaj nowe opcje zależnie od wybranego miasta
opcjeMachine[line].forEach(function (opcja) {
machine.options.add(new Option(opcja, opcja));
});
}
{% endblock %}